# all_solvers.m, dbgstr.m, and get_mexname.m are ignored under matlab/interfaces/private, but not
# under matlab/setup_tools. Those in the latter will be copied to the former during the setup.
all_precisions.m
all_variants.m
all_solvers.m
dbgstr.m
get_mexname.m
package_info.m
.signature

*.mexa64*
*.mexmac*
*.mexw*
*.mod
*.o
*.obj
