[submodule ".github/scripts"]
	path = .github/scripts
    url = https://github.com/equipez/github_actions_scripts
[submodule ".development"]
	path = .development
    url = https://github.com/libprima/prima_development
[submodule "python/pybind11"]
	path = python/prima/backends/bindings/pybind11
	url = https://github.com/pybind/pybind11
