name: Test gfortran

on:
  # Trigger the workflow on push or pull request
  push:
  pull_request:
  # Trigger the workflow at the end of every week
  schedule:
    - cron: '0 0 * * 0'
  # Trigger the workflow when it is manually triggered
  workflow_dispatch:


jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # As of 20210918, according to https://github.com/actions/virtual-environments ,
        # ubuntu-latest = ubuntu-20.04,
        # macos-latest = macos-10.15,
        # windows-latest = windows-2019
        # The following list should be updated when these latest versions change.
        os: [ubuntu-latest, ubuntu-18.04, macos-latest, macos-11, windows-latest, windows-2022]
        compiler: [gcc]
        version: [11, 10, 9, 8]
        bitness: [32, 64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Fortran
        id: setup_fortran
        # Use the action defined at github.com/zaikunzhang/setup-fortran to setup Fortran
        uses: zaikunzhang/setup-fortran@main
        with:
          compiler: ${{ matrix.compiler }}
          version: ${{ matrix.version }}

      - name: Check Fortran compiler
        run: |
          ${{ env.FC }} --version
          ${{ env.CC }} --version
        shell: bash
        env:
          FC: ${{ steps.setup_fortran.outputs.fc }}
          CC: ${{ steps.setup_fortran.outputs.cc }}

      - name: Conduct the test
        run: |
          cd fsrc/test; make clean; make gtest

      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          path: fsrc/test/*.log
